mqttCar_node-RED.json
[{"id":"594dc9b0.727e58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"826c064d.0765a8","type":"mqtt in","z":"594dc9b0.727e58","name":"Incoming clientID...","topic":"ID","qos":"0","datatype":"auto","broker":"ad64d3da.d7ebb","nl":false,"rap":false,"x":290,"y":180,"wires":[["303928c3.1f6028","453abfdf.ebb04","2bd16265.85eace"]]},{"id":"e93cdee2.5654a","type":"delay","z":"594dc9b0.727e58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"11","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":389,"wires":[["531b6a6d.33f104","2350458b.00bd9a"]]},{"id":"870a59d9.2e5f68","type":"function","z":"594dc9b0.727e58","name":"Get top client in list","func":"msg.payload = msg.payload[0][\"userID\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":560,"wires":[["2d28bd4a.f8a462","e2528718.e61ba8"]]},{"id":"e2528718.e61ba8","type":"mqtt out","z":"594dc9b0.727e58","name":"Update currentID","topic":"currentID","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":1570,"y":560,"wires":[]},{"id":"531b6a6d.33f104","type":"function","z":"594dc9b0.727e58","name":"Set timer to 10","func":"msg.payload = 10;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":380,"wires":[["1d674144.a0f49f"]]},{"id":"efa358bd.e63798","type":"function","z":"594dc9b0.727e58","name":"msg.payload -= 1","func":"msg.payload--;\nif (msg.payload >= 0) {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":460,"wires":[["1d674144.a0f49f"]]},{"id":"1d674144.a0f49f","type":"delay","z":"594dc9b0.727e58","name":"Every second:","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":400,"wires":[["efa358bd.e63798","8d676eff.b8b55"]]},{"id":"8d676eff.b8b55","type":"mqtt out","z":"594dc9b0.727e58","name":"Update timer","topic":"timer","qos":"","retain":"","broker":"ad64d3da.d7ebb","x":1610,"y":420,"wires":[]},{"id":"8acc4e36.0d87","type":"comment","z":"594dc9b0.727e58","name":"----------------------------USER QUEUE----------------------------","info":"","x":950,"y":60,"wires":[]},{"id":"22b3824b.0e8f5e","type":"mqtt in","z":"594dc9b0.727e58","name":"Incoming userOff...","topic":"log/userOff","qos":"2","datatype":"auto","broker":"ad64d3da.d7ebb","nl":false,"rap":false,"x":270,"y":660,"wires":[["df6132ee.5df41"]]},{"id":"df6132ee.5df41","type":"function","z":"594dc9b0.727e58","name":"Remove disconnected user from queue","func":"let discUser = msg.payload;\nmsg.topic = \"DELETE FROM mqttcar_userQueue WHERE userID = '\" + discUser + \"';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["9eb74199.08fa4"]]},{"id":"5098fd5b.43cd44","type":"mqtt in","z":"594dc9b0.727e58","name":"Incoming clientID...","topic":"ID","qos":"0","datatype":"auto","broker":"ad64d3da.d7ebb","nl":false,"rap":false,"x":630,"y":820,"wires":[["944dfbf5.c78368"]]},{"id":"3e78d963.c42996","type":"comment","z":"594dc9b0.727e58","name":"----------------------------SQLITE LOGS----------------------------","info":"","x":930,"y":780,"wires":[]},{"id":"944dfbf5.c78368","type":"function","z":"594dc9b0.727e58","name":"SQLite index: userOn = ID","func":"let SQLCode = \"INSERT INTO mqttcar_user_log (userID) VALUES ( '\";\nSQLCode += msg.payload + \"');\"\nmsg.topic = SQLCode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":840,"wires":[["39aa9b28.062e74"]]},{"id":"39aa9b28.062e74","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"msg.topic","sql":"","name":"Insert into mqttcar.db","x":1300,"y":960,"wires":[["e276782a.b1cab8"]]},{"id":"e4236a93.a49608","type":"mqtt in","z":"594dc9b0.727e58","name":"Incoming userOff","topic":"log/userOff","qos":"2","datatype":"auto","broker":"ad64d3da.d7ebb","nl":false,"rap":false,"x":620,"y":900,"wires":[["c022b776.13e6e8"]]},{"id":"e7635075.ee3b2","type":"mqtt in","z":"594dc9b0.727e58","name":"Incoming carStatus","topic":"log/carStatus","qos":"2","datatype":"auto","broker":"ad64d3da.d7ebb","nl":false,"rap":false,"x":590,"y":980,"wires":[["3d10eca6.b11b34","88849d18.00c83"]]},{"id":"88849d18.00c83","type":"trigger","z":"594dc9b0.727e58","name":"If no carStatus within 11s:","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"11","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":1040,"wires":[["1db25b51.2f2de5","c7050be1.c4c598"]]},{"id":"3d10eca6.b11b34","type":"function","z":"594dc9b0.727e58","name":"SQLite Index: carStatus = CONNECTED","func":"let SQLCode = 'INSERT INTO mqttcar_network_log (statusType, status) VALUES ('\nSQLCode += \"'carStatus', 'CONNECTED');\";\n\nmsg.topic = SQLCode;\nmsg.payload = \"\"\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":960,"wires":[["39aa9b28.062e74"]]},{"id":"1db25b51.2f2de5","type":"function","z":"594dc9b0.727e58","name":"SQLite Index: carStatus = OFFLINE","func":"let SQLCode = 'INSERT INTO mqttcar_network_log (statusType, status) VALUES ('\nSQLCode += \"'carStatus', 'OFFLINE');\"\n\nmsg.topic = SQLCode;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1000,"wires":[["39aa9b28.062e74"]]},{"id":"2f53a220.b2b7ce","type":"status","z":"594dc9b0.727e58","name":"Monitor broker connection status","scope":["826c064d.0765a8"],"x":590,"y":1100,"wires":[["559b2ccf.9ffec4"]]},{"id":"559b2ccf.9ffec4","type":"function","z":"594dc9b0.727e58","name":"SQLite index: brokerStatus = msg.status","func":"let SQLCode = 'INSERT INTO mqttcar_network_log (statusType, status) VALUES ('\nSQLCode += \"'brokerStatus', '\" + msg.status.text.split(\".\")[2].toUpperCase() + \"');\"\n\nmsg.topic = SQLCode;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1080,"wires":[["39aa9b28.062e74"]]},{"id":"c022b776.13e6e8","type":"function","z":"594dc9b0.727e58","name":"SQLite index: userOff = ID","func":"let SQLCode = \"UPDATE mqttcar_user_log SET userOff = CURRENT_TIMESTAMP WHERE userID = '\";\nSQLCode += msg.payload + \"';\";\nmsg.topic = SQLCode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":900,"wires":[["39aa9b28.062e74"]]},{"id":"a6f71a66.f69f48","type":"inject","z":"594dc9b0.727e58","name":"Get current carStatus","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT status, MAX(time) FROM mqttcar_network_log WHERE (statusType = 'carStatus');","x":620,"y":1220,"wires":[["a1db3244.04eba"]]},{"id":"1d9fa6f7.76d199","type":"inject","z":"594dc9b0.727e58","name":"Get current users + usage times (s)","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, (julianday(CURRENT_TIMESTAMP) - julianday(userOn)) * 86400 FROM mqttcar_user_log WHERE userOff IS NULL;","x":580,"y":1260,"wires":[["a1db3244.04eba"]]},{"id":"eda4aead.aafa6","type":"inject","z":"594dc9b0.727e58","name":"Get usage time of past users (s)","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, (julianday(userOff) - julianday(userOn)) * 86400 from mqttcar_user_log WHERE userOff IS NOT NULL;","x":590,"y":1300,"wires":[["a1db3244.04eba"]]},{"id":"ba7cdf8.2dd342","type":"inject","z":"594dc9b0.727e58","name":"Get average usage time (s)","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, AVG(julianday(userOff) - julianday(userOn)) * 86400 from mqttcar_user_log WHERE userOff IS NOT NULL;","x":610,"y":1340,"wires":[["a1db3244.04eba"]]},{"id":"2fa68d94.1b9502","type":"inject","z":"594dc9b0.727e58","name":"Get TOTAL usage time (m)","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, SUM(julianday(userOff) - julianday(userOn)) * 86400/60 from mqttcar_user_log WHERE userOff IS NOT NULL;","x":610,"y":1380,"wires":[["a1db3244.04eba"]]},{"id":"cc1f852.7492778","type":"inject","z":"594dc9b0.727e58","name":"Get number of users per hour","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT strftime('%Y %m %d %H', userOn), COUNT(*) FROM mqttcar_user_log GROUP BY strftime('%Y %m %d %H', userOn);","x":600,"y":1420,"wires":[["a1db3244.04eba"]]},{"id":"2c42301f.1e66a","type":"inject","z":"594dc9b0.727e58","name":"Get today's users who spent < 10s","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, (julianday(userOff) - julianday(userOn)) * 86400 from mqttcar_user_log WHERE (julianday(userOff) - julianday(userOn)) * 86400 < 10 AND strftime('%Y %m %d', userOn) = strftime('%Y %m %d', CURRENT_TIMESTAMP);","x":580,"y":1460,"wires":[["a1db3244.04eba"]]},{"id":"ac4a2119.e7a81","type":"comment","z":"594dc9b0.727e58","name":"----------------------------SQLITE QUERIES----------------------------","info":"","x":940,"y":1160,"wires":[]},{"id":"a1db3244.04eba","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"msg.topic","sql":"","name":"Query mqttcar.db","x":930,"y":1340,"wires":[["961bc737.7f8948"]]},{"id":"961bc737.7f8948","type":"debug","z":"594dc9b0.727e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":1280,"wires":[]},{"id":"c7050be1.c4c598","type":"function","z":"594dc9b0.727e58","name":"SQLite Index: carStatus = OFFLINE","func":"let SQLCode = 'INSERT INTO mqttcar_network_log (statusType, status) VALUES ('\nSQLCode += \"'carStatus', 'OFFLINE');\"\n\nmsg.topic = SQLCode;\nmsg.payload = \"-1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1040,"wires":[["48d4e735.eee898"]]},{"id":"303928c3.1f6028","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"SELECT status, MAX(time) FROM mqttcar_network_log WHERE (statusType = 'carStatus');","name":"Query mqttcar.db carStatus","x":280,"y":240,"wires":[["453abfdf.ebb04"]]},{"id":"e276782a.b1cab8","type":"debug","z":"594dc9b0.727e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":880,"wires":[]},{"id":"48d4e735.eee898","type":"mqtt out","z":"594dc9b0.727e58","name":"Publish to currentID","topic":"currentID","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":1380,"y":1040,"wires":[]},{"id":"453abfdf.ebb04","type":"join","z":"594dc9b0.727e58","name":"Combine ID and carStatus","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":620,"y":240,"wires":[["77b43dd2.58a434"]]},{"id":"da66e1af.37186","type":"switch","z":"594dc9b0.727e58","name":"Sort according to carStatus","property":"payload[1][0].status","propertyType":"msg","rules":[{"t":"eq","v":"OFFLINE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":260,"wires":[["b5dd3c30.69903"],["77b43dd2.58a434"]]},{"id":"77b43dd2.58a434","type":"function","z":"594dc9b0.727e58","name":"If car CONNECTED, send userID","func":"msg.payload = msg.payload[0];\n\n\n\n\nuserID = msg.payload;\nmsg.topic = \"INSERT INTO mqttcar_userQueue (userID) VALUES ('\" + userID + \"');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["7507d21a.2ad76c"]]},{"id":"b5dd3c30.69903","type":"function","z":"594dc9b0.727e58","name":"If car OFFLINE, publish -1 to currentID","func":"msg.payload = -1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":280,"wires":[["a335ed14.43618"]]},{"id":"3de723ff.de9edc","type":"mqtt out","z":"594dc9b0.727e58","name":"Publish 0 to direction","topic":"direction","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":1540,"y":640,"wires":[]},{"id":"2d28bd4a.f8a462","type":"function","z":"594dc9b0.727e58","name":"Stop car","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":620,"wires":[["3de723ff.de9edc"]]},{"id":"5783928f.40850c","type":"inject","z":"594dc9b0.727e58","name":"Get current brokerStatus","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT status, MAX(time) FROM mqttcar_network_log WHERE (statusType = 'brokerStatus');","x":610,"y":1540,"wires":[["a1db3244.04eba"]]},{"id":"ea8de320.63556","type":"inject","z":"594dc9b0.727e58","name":"*******CLEAR mqttcar_network_log PLEASE BE CAREFUL*******","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE FROM mqttcar_network_log;","payload":"","payloadType":"date","x":510,"y":1800,"wires":[["a1db3244.04eba"]]},{"id":"9345e25d.0454b","type":"inject","z":"594dc9b0.727e58","name":"*******CLEAR mqttcar_user_log PLEASE BE CAREFUL*******","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE FROM mqttcar_user_log;","payload":"","payloadType":"date","x":600,"y":1840,"wires":[["a1db3244.04eba"]]},{"id":"7507d21a.2ad76c","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"msg.topic","sql":"SELECT status, MAX(time) FROM mqttcar_network_log WHERE (statusType = 'carStatus');","name":"Insert into mqttcar.db userQueue","x":960,"y":320,"wires":[["e93cdee2.5654a"]]},{"id":"2350458b.00bd9a","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"SELECT COUNT(*) FROM mqttcar_userQueue;","name":"Get number of users in queue","x":550,"y":480,"wires":[["e12b7df7.f5b3b"]]},{"id":"ebfd717b.699e2","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"DELETE FROM mqttcar_userQueue WHERE ROWID = 1;","name":"If > 2, remove top user","x":620,"y":540,"wires":[["b3cfcde2.c6ce4"]]},{"id":"a90fd2c3.9bf4e","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"SELECT userID FROM mqttcar_userQueue WHERE ROWID = 1;","name":"Get first user in Queue","x":1100,"y":500,"wires":[["870a59d9.2e5f68"]]},{"id":"b3cfcde2.c6ce4","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"VACUUM;","name":"VACUUM;","x":880,"y":540,"wires":[["a90fd2c3.9bf4e"]]},{"id":"e12b7df7.f5b3b","type":"switch","z":"594dc9b0.727e58","name":"Parse number of users","property":"msg.payload[0][\"COUNT(*)\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":480,"wires":[["a90fd2c3.9bf4e"],["ebfd717b.699e2"]]},{"id":"9eb74199.08fa4","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"msg.topic","sql":"DELETE FROM mqttcar_userQueue WHERE ROWID = 1;","name":"Remove disconnected user","x":900,"y":660,"wires":[["d0587d5f.b8a53"]]},{"id":"d0587d5f.b8a53","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"VACUUM;","name":"VACUUM;","x":1120,"y":660,"wires":[[]]},{"id":"c0f3d31c.789d6","type":"inject","z":"594dc9b0.727e58","name":"Get userQueue length","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT COUNT(*) FROM mqttcar_userQueue;","x":620,"y":1580,"wires":[["a1db3244.04eba"]]},{"id":"d97a6393.ca11","type":"inject","z":"594dc9b0.727e58","name":"Get userQueue length","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID FROM mqttcar_userQueue WHERE ROWID = 1;","x":620,"y":1620,"wires":[["a1db3244.04eba"]]},{"id":"2bd16265.85eace","type":"sqlite","z":"594dc9b0.727e58","mydb":"be67e0da.8db5b","sqlquery":"fixed","sql":"SELECT userID FROM mqttcar_userQueue WHERE ROWID = 1;","name":"Get first user in Queue","x":580,"y":180,"wires":[["cd01011a.c8141"]]},{"id":"cd01011a.c8141","type":"function","z":"594dc9b0.727e58","name":"Get top client in list","func":"if (msg.payload[0]) {\n    msg.payload = msg.payload[0][\"userID\"];\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":180,"wires":[["9488484c.a45d08"]]},{"id":"9488484c.a45d08","type":"mqtt out","z":"594dc9b0.727e58","name":"Update currentID","topic":"currentID","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":1070,"y":180,"wires":[]},{"id":"f0bab952.76ff08","type":"comment","z":"594dc9b0.727e58","name":"Update and decrementer timer every second","info":"","x":1330,"y":340,"wires":[]},{"id":"2bbe349f.ee310c","type":"comment","z":"594dc9b0.727e58","name":"Resend currentID so a new user can see it","info":"","x":860,"y":140,"wires":[]},{"id":"ac931cef.83663","type":"comment","z":"594dc9b0.727e58","name":"Send a special MQTT currentID if car is offline","info":"","x":1250,"y":240,"wires":[]},{"id":"9c893037.ac2ec","type":"comment","z":"594dc9b0.727e58","name":"If someone is waiting in line, remove current user, advance everyone else 1 space","info":"","x":900,"y":440,"wires":[]},{"id":"a9be8933.9fbcf8","type":"comment","z":"594dc9b0.727e58","name":"Update new user + stop the car when controls are transferred","info":"","x":1480,"y":520,"wires":[]},{"id":"d6d6b9c7.eb5e28","type":"comment","z":"594dc9b0.727e58","name":"If a user in the queue disconnects, remove them from the queue","info":"","x":610,"y":620,"wires":[]},{"id":"271622b1.d5455e","type":"inject","z":"594dc9b0.727e58","name":"Get today's user who spent the most time on the app","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT userID, MAX(julianday(userOff) - julianday(userOn)) * 86400 from mqttcar_user_log WHERE (julianday(userOff) - julianday(userOn)) * 86400 < 10 AND strftime('%Y %m %d', userOn) = strftime('%Y %m %d', CURRENT_TIMESTAMP);","x":520,"y":1500,"wires":[["a1db3244.04eba"]]},{"id":"1f1377de.881508","type":"mqtt out","z":"594dc9b0.727e58","name":"","topic":"drawCommand","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":2170,"y":220,"wires":[]},{"id":"35d5c41c.6b451c","type":"inject","z":"594dc9b0.727e58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500,500","payloadType":"str","x":1950,"y":400,"wires":[["1f1377de.881508"]]},{"id":"a335ed14.43618","type":"mqtt out","z":"594dc9b0.727e58","name":"Update currentID","topic":"currentID","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad64d3da.d7ebb","x":1570,"y":260,"wires":[]},{"id":"ad64d3da.d7ebb","type":"mqtt-broker","name":"","broker":"mqttcar.cloud.shiftr.io","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be67e0da.8db5b","type":"sqlitedb","db":"/Users/yonatanrozin/mqttcar.db","mode":"RWC"}]